<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="{{ url_for('website.index') }}" class="logo-link">
                <img src="/shared/images/sav-logo-long.png" alt="Savanna Circuit Logo">
            </a>
        </div>

        <ul class="nav-menu">
            <li><a href="{{ url_for('website.index') }}" class="nav-link {{ 'active' if request.endpoint == 'website.index' }}">Home</a></li>
            <li><a href="{{ url_for('website.about') }}" class="nav-link {{ 'active' if request.endpoint == 'website.about' }}">About</a></li>
            <li><a href="{{ url_for('website.impact') }}" class="nav-link {{ 'active' if request.endpoint == 'website.impact' }}">Impact</a></li>
            <li><a href="{{ url_for('website.careers') }}" class="nav-link {{ 'active' if request.endpoint == 'website.careers' }}">Careers</a></li>
            <li><a href="{{ url_for('website.contact') }}" class="nav-link {{ 'active' if request.endpoint == 'website.contact' }}">Contact</a></li>
        </ul>
        
<a href="{{ url_for('store.index') }}" class="cta-button primary">Buy Now</a>
        
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>
